<%- contentFor('body') %>
<br>
<div class = "text-center">
    <p>Trabalho extra feito para a disciplina de Autoração Multimídia II do curso de Sistemas e Mídias Digitais.</p>
    <p>Aproveitando </p>
    <p>Só não consegui fazer a parte de pesquisa, porque meu arquivo ejs não lia a tag script por motivos que não sei, mesmo com o código lá</p>
</div>