<%- contentFor('body') %>
<br>
<div class = "text-center">
    <p>Trabalho extra feito para a disciplina de Autoração Multimídia II do curso de Sistemas e Mídias Digitais.</p>
    <p>Servindo como um breve memorial da minha aula de campo para o MAUC (Musei de Arte da UFC), no dia 1 de julho.\nEu já havia ido ao mudeu uma vez, anteriormente, também por conta de uma aula de campo. Nessa outra visita, não pude olhar as artes como dessa vez, estávamos apenas à custa de nós mesmos.
        \nDesta vez, além da guia do núcleo educacional do MAUC, tivemos tempo para observarmos as obras nós mesmos.
        \nO momento destinado à amostra da adaptação das obras para pessoas com deficiência visual também foi extremamente interessante, pois observei meus colegas ao redor utilizando seus conhecimentos do mundo para tentar explicar o que estavam vendo apenas com palavras.
        \nE nem preciso falar da palestra. Eu já tinha certa noção sobre como a acessibilidade está presente em todas as coisas, mas a partir da aula pude ter noção de que elas são ainda mais específicas, e, como pessoas que tem deficiências auditivas momentâneas,
        eu entendo que certas coisas para nós são comuns enquanto que, para os outros, é distante e incomum.
    </p>
    <p>Saí daquele dia desejando poder participa mais ativamente daquele ambiente, e quem sabe até ser aluna deles ou bolsista do núcleo educaional. Nunca se sabe.
        \nEspero poder levar os conhecimentos e sentimento que adquiri e presenciei naquele dia para muito adiante.
    </p>
    <p>
        Registros fotográficos meus daquele dia são escassos, pois o espécime Homo Samiris é difícil de ser registrado na natureza se não for por câmera escondida.
    </p>
</div>